<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Schoodle - Home Page</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <nav id="nav-bar">
      <span class="header">Schoodle</span>
    </nav>

    <main class="container">
      <h1>Welcome to Schoodle!</h1>
      <p>The scheduling app of your dreams...</p>
      <form action="/event/create" method="GET">
        <button class="button">Create Event</button>
      </form>
    </main>

  </body>
</html>
