<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Schoodle - Home Page</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>


  <body>
    <header> <% include ./_partials/_header %> </header>

    <main class="container">
      <h1>Welcome to Schoodle!</h1>
      <p id="slogan">The scheduling app of your dreams</p>

      <% if (userObject == undefined) { %>

      <h3>Please sign in to create en event.</h3>

      <% } else { %>

      <form action="/events/new" method="GET">
        <button class="button">Create event</button>

      <p>The scheduling app of your dreams...</p>
      <form action="/events" method="GET">
        <button class="button">create new event</button>
      </form>

      <% } %>

    </main>




    <footer> <% include ./_partials/_footer %> </footer>
  </body>

</html>
