<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Montserrat file CDN -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i" rel="stylesheet">

<!-- CSS for NavBar -->
<link rel="stylesheet" type="text/css" href="/styles/header.css">

<!-- Montserrat Font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i" rel="stylesheet">

<!-- jQuery -->
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

<!-- jQuery UI  -->
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<!-- Animation script -->
<script type="text/javascript" src="/scripts/animate.js"></script>



<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="color:#323947">Schoodle </a>
      <a href="/"><img id="logo-icon" src="/resources/SchoodleIconTransparent.png"></a>
      <!-- <img class="chickin" src="/resources/chickin.png"> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <% if (userObject == undefined) { %>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-default signupButton">Sign Up</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-default loginButton">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

    <% } else { %>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form method="POST" action="/logout">
            <input type="submit" class="btn btn-default" id="logoutButton" value="Log Out">
          </form>
        </li>
      </ul>
    </div>



    <% } %>

  </div><!-- /.container-fluid -->
</nav>


<div class="bg-modal-login">
  <div class="modal-content-login">
    <div class="close">+</div>
    <h1>Login</h1>
    <form method="POST" action="/login">
      <input name="email" class="login" type="text" placeholder="Email">
      <input name="password" class="login" type="password" placeholder="Password">
      <input type="submit" class="btn btn-default signin">
    </form>
  </div>
</div>

<div class="bg-modal-signup">
  <div class="modal-content-signup">
    <div class="close">+</div>
    <h1>Sign Up</h1>
    <form method="POST" action="/register">
      <input name="name" class="login" id="signupName" type="text" placeholder="Name">
      <input name="email" class="login" id="signupEmail" type="email" placeholder="Email">
      <input name="password" class="login" id="signupPassword" type="password" placeholder="Password">
      <input type="submit" class="btn btn-default signup">
    </form>
  </div>
</div>
