/* - #e4ecf2
- #b2cbdb
- #f6e474
- #5bb0e3
- #323947 */


body {
  margin-top: 50px;
  text-align: center;
  background-color: #e4ecf2;



.table {
    margin: auto;
    width: 80%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;

   tr {
     th, td {
       padding: 0.75rem;
       vertical-align: top;
       border-top: 1px solid #dee2e6;
       text-align: center;
     }
   }


    thead {
        th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        background-color: #b2cbdb;
      }
    }

    tbody + tbody {
      border-top: 2px solid #dee2e6;
    }

    .check{
      color: #dabe10;
      background-color: #f6e474;
    }

    .ex{
      color: #eb6637;
      background-color: #f7bba6;
    }

    h2 i {
      padding-left: 10px;
      color: teal;
    }
  }
}

/* <i class="fas fa-check-circle"></i></td>
<td><i class="fas fa-check-circle">
<i class="far fa-copy"></i> */
