$bgDefault      : #5bb0e3;
$bgHighlight    : #323947;
$colDefault     : #fdffff;
$colHighlight   : #f6e474;
$dropDown       : false;
body {
  background-color: #e4ecf2;
}

.bg-modal-login {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  h1 {
    margin-bottom: 40px;
  }
}
.modal-content-login {
  background-color: #e4ecf2;
  position: relative;
  width: 500px;
  height: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}
.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.login, .register {
  background-color: white;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 15px;
  padding-left: 10px;
}
.login-alert, .register-alert {
  margin-top: -25px;
  margin-bottom: -10px;
  height: 28px;
  color: red;
}
.btn {
  background-color: #323947;
  color: #f6e474;
  border: 1px solid #323947;
  border-radius: 5px;
}
.btn:hover {
  background-color: #f6e474;
  color: #323947;
  border: 1px solid #323947;
}
.bg-modal-signup {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content-signup {
  background-color: #e4ecf2;
  position: relative;
  width: 500px;
  height: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  h1 {
    margin-bottom: 25px;
  }
}
.signup, .signin {
  margin-top: 10px;
}
#logoutIcon {
  background-color: transparent;
  height: 20px;
  width: 20px;
  padding-right: 5px;
}
#footer {
  position: fixed;
  bottom:0px;
  background-color: #5bb0e3;
  width: 100%;
  .footerText {
    text-align: center;
    margin-top: 0.5em;
    background-color: #5bb0e3;
  }
}
.errorDiv {
  display: flex;
  flex-direction: column;
  .errorPage {
    font-size: 40px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .errorMess {
    margin-top: 200px;
  }
}
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgDefault;
  font-family: 'Montserrat', sans-serif;
  border-radius: 0px;

  div {
    background-color: $bgDefault;
  }
  .navbar-brand {
    font-size: 35px;
    margin-top: 0.5em;
    color:#323947;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }

  #logo-icon {
    opacity: 0.80;
    margin-top: 0.5em;
    width:60px;
    height:60px;
    color:#323947;
    background-color: $bgDefault;
  }
  .navbar-nav {
    > li {
      background-color: $bgDefault;
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
        .btn-default {
          margin: 1em;
          color:#323947;
          background-color:#b2cbdb;
          &:hover, &:focus {
            opacity: 0.75;
            color:#f6e474;
            background-color:#323947;
          }
        }}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
