html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  &:before, &:after {
    box-sizing: inherit;
  }
  font-family: 'Montserrat', sans-serif;
}

nav {
  padding: 20px;
}

.container {
  width: 500px;
  margin: auto;
  text-align: center;
}
